ChatBot Copilot/GymBot_Avengens_1_0_0_1_managed/Workflows/GetHorarioModalidade-916F0FF8-8B00-EF11-9F89-000D3A47F3C7.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "cr4ab_sharedsharepointonline_51b36"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "Mod",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Please enter your input",
                  "title": "Cidade",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "b8f61c18-7224-4f8a-9c5f-72fbce5df764"
          }
        }
      },
      "actions": {
        "Respond_to_Copilot": {
          "type": "Response",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "horario": {
                  "title": "horario",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "horario": "@variables('Horario')"
            }
          },
          "runAfter": {
            "For_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "81c94f73-dd52-465c-ad3b-a4686da63cc3"
          }
        },
        "Get_items": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://alunosipca.sharepoint.com/sites/Avengers_Abr12",
              "table": "55e7e033-51c7-4633-8deb-dc3db792bc60",
              "$filter": "Cidade eq '@{triggerBody()?['text_1']}' and Modalidade eq '@{triggerBody()?['text']}'"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "GetItems",
              "connectionName": "shared_sharepointonline"
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          }
        },
        "Initialize_variable": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Horario",
                "type": "string"
              }
            ]
          },
          "runAfter": {}
        },
        "For_each": {
          "type": "Foreach",
          "foreach": "@outputs('Get_items')?['body/value']",
          "actions": {
            "Append_to_string_variable": {
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "Horario",
                "value": "@items('For_each')?['Horario']"
              }
            }
          },
          "runAfter": {
            "Get_items": [
              "Succeeded"
            ]
          }
        }
      },
      "outputs": {},
      "description": "Run a flow from Copilot and send back a response."
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}