GymBot_Avengens_1_0_0_1_managed/Workflows/StockSuficiente-41238C8C-8801-EF11-9F89-000D3A47F3C7.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "cr4ab_sharedsharepointonline_51b36"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "ID",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "number": {
                  "description": "Please enter a number",
                  "title": "Quantidade",
                  "type": "number",
                  "x-ms-content-hint": "NUMBER",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "number"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "b8f61c18-7224-4f8a-9c5f-72fbce5df764"
          }
        }
      },
      "actions": {
        "Respond_to_Copilot": {
          "type": "Response",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "stocksuficiente": {
                  "title": "StockSuficiente",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "stocksuficiente": "@variables('StockSuficiente')"
            }
          },
          "runAfter": {
            "Condition": [
              "SUCCEEDED"
            ]
          },
          "metadata": {
            "operationMetadataId": "81c94f73-dd52-465c-ad3b-a4686da63cc3"
          }
        },
        "Get_item": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://alunosipca.sharepoint.com/sites/Avengers_Abr12",
              "table": "b0797f79-c43b-49b9-b9ee-598f5cdb9082",
              "id": "@triggerBody()?['text']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "GetItem",
              "connectionName": "shared_sharepointonline"
            }
          },
          "runAfter": {}
        },
        "Condition": {
          "type": "If",
          "expression": {
            "and": [
              {
                "greaterOrEquals": [
                  "@body('Get_item')?['Stock']",
                  "@triggerBody()?['number']"
                ]
              }
            ]
          },
          "actions": {
            "Set_variable": {
              "type": "SetVariable",
              "inputs": {
                "name": "StockSuficiente",
                "value": "sim"
              }
            }
          },
          "else": {
            "actions": {
              "Set_variable_1": {
                "type": "SetVariable",
                "inputs": {
                  "name": "StockSuficiente",
                  "value": "nao"
                }
              }
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "SUCCEEDED"
            ]
          }
        },
        "Initialize_variable": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "StockSuficiente",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Get_item": [
              "SUCCEEDED"
            ]
          }
        }
      },
      "outputs": {},
      "description": "Run a flow from Copilot and send back a response."
    },
    "templateName": "8966f0978a80430098d992ce322095e3"
  },
  "schemaVersion": "1.0.0.0"
}